button {
  padding: 4px 8px;
  border: 2px solid rgb(187, 46, 46);
  background: rgb(187, 46, 46);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: transparent;
    color: #000;
  }
}
