.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
}

.form {
  width: 400px;
  padding: 24px;
  border: 1px solid #252525;
  border-radius: 6px;

  .row {
    margin-bottom: 12px;

    label {
      display: inline-block;
      margin-bottom: 4px;
    }

    input {
      width: 100%;
      padding: 4px 8px;
    }
  }

  button {
    display: block;
    margin: 0 auto;
    padding: 6px 12px;
    border: 2px solid rgb(46, 187, 46);
    background: rgb(46, 187, 46);
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: transparent;
      color: #000;
    }
  }
}

.error {
  color: red;
}
